@font-face {
    font-family: bebas;
    src: url(./assets/fonts/BebasNeue-Regular.ttf);
}

.navbar {
    display: flex;
    align-items: end;
    width: 100%;
    padding: 20px 0;
    font-family: bebas;
}


.navbar ul{
    position: relative;
    left: 250px;
    top: -30px;
    display: flex;
    gap: 100px;
}


.navbar ul li {
    display: flex;
    font-size: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar button{
    background-color: var(--btn-color);
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 15px;
    position: relative;
    left: 330px;
    top: -25px;
}

.navbar button:hover{
    cursor: pointer;
    background-color: var(--btn-Darkcolor);
    color: var(--bg-color);
}

.navbar ul li a:hover {
    color: #007bff;
}

.main-logo {
    display: flex;
    margin-left: 20px;
}

.main-logo h1 {
    font-size: 120px;
    line-height: 1;
}

.main-logo p {
    font-size: 60px;
    margin-left: 10px;
}

.main-logo img {
    height: 45px;
    width: 45px;
    margin-top: 60px;
    margin-left: -35px;
}

.main-logo {
    display: flex;
    margin-left: 20px;
    text-decoration: none; /* Remove underline */
}

.main-logo h1,
.main-logo p {
    color: black; /* Set the default color */
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.main-logo:hover h1,
.main-logo:hover p {
    color: #007bff; /* Change color on hover */
}

@media (max-width: 1200px) {
    .navbar ul {
        margin-left: 100px;
        gap: 50px;
    }

    .main-logo h1 {
        font-size: 90px;
    }

    .main-logo p {
        font-size: 45px;
    }

    .main-logo img {
        height: 35px;
        width: 35px;
        margin-top: 57px;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        margin: 20px 0;
        gap: 30px;
    }

    .navbar ul li {
        font-size: 24px;
    }
} 