@font-face {
    font-family: bebas;
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: bebas;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    background: transparent;
    position: relative;
    top: 33px;
    left: -194px;
    height: 50px;
    width: 50px;
}

.logo-container h1{
    font-size: 120px;
}

.credentials-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.credentials-container input{
    background-color: white;
    height: 50px;
    width: 450px;
    border-radius: 15px;
    border: 1px solid var(--btn-clr);
    padding: 20px;
    font-size: 20px;
}

.credentials-container input::placeholder{
    color: black;
}

.getStarted-button{
    color: white;
    height: 50px;
    width: 450px;
    border-radius: 15px;
    background-color: black;
    font-size: 32px;
    border: 1px solid white;

}

.getStarted-button:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

.redirectToLogin-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.redirectToLogin-container a{
    text-decoration: none;
    color: orange;
}

.extraDetails-container{
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.extraDetails-container a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

h2{
    font-weight: 100;
}

h3{
    font-weight: 100;
}